<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa9dzBMKbPRv6mkscvNtkIfDOHUvgs8-8</string>
	<key>GCM_SENDER_ID</key>
	<string>892490711823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.binbuddyFrontend.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>binbuddy-8df97</string>
	<key>STORAGE_BUCKET</key>
	<string>binbuddy-8df97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892490711823:ios:2385fd43aadd244e00f47a</string>
</dict>
</plist>